{% extends 'base.html' %}

{% block conteudo%}

<section class="jumbotron text-center pessoa">
    <div class="container">
        <img src="../static/imagens/Rodrigo de Andrade.jpg" class="mt-5 foto-perfil" alt="Responsive image" width="200">
        <h1 class="jumbotron-heading" style="color:white;text-transform: uppercase;">Rodrigo de Andrade</h1>
        <p class="lead" style="color:white !important;">Tecnólogo em Geoprocessamento -Fatec Jacareí
        </p>
        <p class="lead" style="color:white !important;">Técnico em Redes de Computadores -Etec Jacareí
        </p>
        <p class="lead" style="color:white !important;">Cursando Tecnólogo em Desenvolvimento de Software Multiplataforma -Fatec São José dos Campos
        </p>
        <div class="contato">
            <h4 class="jumbotron-heading" style="color:white;text-transform: uppercase;">Contato</h4>
            </h2></u>

            <a target="_blank" href="https://www.linkedin.com/in/rodrigo-de-andrade-a34605104/">
                <img src="../static/imagens/linkedin.png" class="foto-icons" >
            </a>
                    
            <a target="_blank" href="https:github.com/RodrigodeAndrade90/">
                <img src="../static/imagens/github.png" class="foto-icons">
            </a>
        </div>
    </div>
    </div>
</section>
<!-- Projects -->
<div class="album py-5 bg-light ">
    <div class="container">
        <h2 class="text-center jumbotron-heading escolas">Faculdades e Escolas Técnicas</h2>
        <div class="row">
            <div class="col-md-4">
                <div class=" mb-4 box-shadow escolas-single">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" src="../static/imagens/Fatec Jacarei.png" data-holder-rendered="true"
                        style="height: 29%; width: 100%;max-width: 100%; display: block;">
                    <div class="card-body">
                        <h4 style="padding-bottom:90px;margin-bottom: 0px;color:white;" class="text-center"><a target="_blank" 
                            href="http://www.fatecjacarei.com.br/">Fatec Jacareí</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-4 box-shadow escolas-single">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" src="../static/imagens/Etec Jacarei.jpg" data-holder-rendered="true"
                        style="height: 29%; width: 100%; display: block;">
                    <div class="card-body">
                        <h4 style="padding-bottom:90px;margin-bottom: 0px;color:white;" class="text-center"><a target="_blank" 
                            href="http://etecjbento.com.br/web/">Etec Cônego José Bento</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" mb-4 box-shadow escolas-single">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" src="../static/imagens/Fatec SJC.jpg" data-holder-rendered="true"
                        style="height: 29%; width: 100%;max-width: 100%; display: block;">
                    <div class="card-body">
                        <h4 style="padding-bottom:90px;margin-bottom: 0px;color:white;" class="text-center"><a target="_blank" 
                            href="https://fatecsjc-prd.azurewebsites.net/">Fatec Jessen Vidal</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}