<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rodrigo de Andrade</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/css/icons-1.6.1/font/bootstrap-icons.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/css/projetos.css" media="screen">
    <link rel="icon" href="../static/imagens/Logotipo.png"> 
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script rel="stylesheet" src="../static/css/bootstrap/js/bootstrap.min.js" media="screen"></script>
    
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light" style="background-color:#23232e">
        <a class="navbar-brand" href="index.html">
            <img src="../static/imagens/Logotipo.png" width="142">
        </a>
        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto me-3 mb-lg-0 text-center">
              <li class="nav-item">
                <a class="nav-item nav-link" href="index.html" style=color:white>Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" href="sobre.html" style=color:white>Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" href="trabalhos-academicos.html" style=color:white>Trabalhos Acadêmicos</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link btn-menu" href="projetos.html" style=color:white>Projetos</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <section class="jumbotron text-center projetos">
        <div class="container">
            <h2 class="jumbotron-heading tituloprojeto pt-5">PROJETO API VÓ MARIA FÉLIX</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class=" mb-4 box-shadow">
                        <p class="lead paragrafoprojeto">Projeto Intregador apresentado como atividade em grupo de API curso de Tecnólogo em Análise e Desenvolvimento, cujo nesse trabalho foi uma implementação de um site de uma ONG Vó Maria Felix</p>
                        <p class="lead paragrafoprojeto">O objetivo desse API é uma criação de um site institucional, visando a melhoria da visibilidade do centro de convivência infantil Vó Maria Félix para o público e modo geral, onde o usuário poderá facilmente ter acesso as informações sobre a ONG.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4 box-shadow">
                        <img class="card-img-top mb-4"
                            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                            alt="Thumbnail [100%x225]" src="../static/imagens/Maria Vó Félix.gif" data-holder-rendered="true"
                            style="height: 29%; width: 100%;max-width: 100%; display: block;">
                    </div>
                </div>

                <p>
                    <a target="_blank" href="https://github.com/RodrigodeAndrade90/Projeto-Site-Intitucional" class="btn btn-dark my-2">Saiba Mais</a>
                </p>
            </div>
        </div>
    </section>

    <footer class="text-center" style="background-color:#2c3e50;padding:0px; margin:0px">
        <p style="margin:0px;padding-top:15px;padding-bottom:15px;color:white !important">Copyright 2021 - 
            Rodrigo de Andrade®
        </p>
    </footer>

</body>

</html>