{% extends 'base.html' %}

{% block conteudo%}
<section class="jumbotron text-center projetos">
    <div class="container">
        <h2 class="jumbotron-heading tituloprojeto pt-5">PROJETO API VÓ MARIA FÉLIX</h2>
        <div class="row">
            <div class="col-md-6">
                <div class=" mb-4 box-shadow">
                    <p class="lead paragrafoprojeto">Projeto Intregador apresentado como atividade em grupo de API curso de Tecnólogo em Análise e Desenvolvimento, cujo nesse trabalho foi uma implementação de um site de uma ONG Vó Maria Felix</p>
                    <p class="lead paragrafoprojeto">O objetivo desse API é uma criação de um site institucional, visando a melhoria da visibilidade do centro de convivência infantil Vó Maria Félix para o público e modo geral, onde o usuário poderá facilmente ter acesso as informações sobre a ONG.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-4 box-shadow">
                    <img class="card-img-top mb-4"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" src="../static/imagens/Maria Vó Félix.gif" data-holder-rendered="true"
                        style="height: 29%; width: 100%;max-width: 100%; display: block;">
                </div>
            </div>

            <p>
                <a target="_blank" href="https://github.com/RodrigodeAndrade90/Projeto-Site-Intitucional" class="btn btn-dark my-2">Saiba Mais</a>
            </p>
        </div>
    </div>
</section>
{% endblock %}

