<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rodrigo de Andrade</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/css/icons-1.6.1/font/bootstrap-icons.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/css/sobre.css" media="screen">
    <link rel="icon" href="../static/imagens/Logotipo.png"> 

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script rel="stylesheet" src="../static/css/bootstrap/js/bootstrap.min.js" media="screen"></script>

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light" style="background-color:#23232e">
        <a class="navbar-brand" href="index.html">
            <img src="../static/imagens/Logotipo.png" width="142">
        </a>
        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto me-3 mb-lg-0 text-center">
              <li class="nav-item">
                <a class="nav-item nav-link" href="index.html" style=color:white>Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link btn-menu" href="sobre.html" style=color:white>Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" href="trabalhos-academicos.html" style=color:white>Trabalhos Acadêmicos</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" href="projetos.html" style=color:white>Projetos</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <section class="jumbotron text-center sobre-mim">
        <div class="container">
            <h2 class="jumbotron-heading sobre-pessoa pt-5">SOBRE A PESSOA</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class=" mb-4 box-shadow">
                        <p class="lead paragrafoBrancos">Rodrigo de Andrade Paula, 31 anos, nascido em Jacareí-SP. Morei por 4 anos na Região de Assis -SP, sendo que 1 ano e meio na cidade de Maracaí-SP, e 2 anos e meio na cidade de Assis-SP.</p>
                        <p class="lead paragrafoBrancos">Sou formado em Tecnólogo em Geoprocessamento pela Faculdade de Tecnologia do Estado de São Paulo (FATEC de Jacareí SP - 2018), Técnico em Redes de Computadores pela Escola Técnica Cônego José Bento (ETEC de Jacareí SP - 2021), e atualmente estou cursando Desenvolvimento de Softwares Multiplataforma pela FATEC de São José dos Campos - Professor Jessen Vidal.</p>
                        <p class="lead paragrafoBrancos">Tenho experiência na área administrativa e manutenção elétrica (primeiro trabalho como aprendiz), telemarketing (atendimento receptivo e ativo), industrial, agrícola, manutenção predial, comércio (varejista e atacadista) , georreferenciamento, manutenção de computadores e de celulares e estou de iniciante na programação web Front-End.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4 box-shadow">
                        <img class="card-img-top"
                            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                            alt="Thumbnail [100%x225]" src="../static/imagens/Rodrigo de Andrade 01.jpg" data-holder-rendered="true"
                            style="height: 29%; width: 100%;max-width: 100%; display: block;">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="album py-5 bg-light">
        <div class="container">
            <h2 class="text-center jumbotron-heading cidades">Cidades onde morei</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class=" mb-4 box-shadow cidades-single">
                        <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" src="../static/imagens//jacarei.jpg" title="Origem da imagem: http://https://www.jacarei.sp.gov.br/cidade/conheca-jacarei/"/>
                        <div class="card-body">
                            <h4 style="padding-bottom:90px;margin-bottom: 0px;color:white;" class="text-center"><a target="_blank" 
                                href="https://pt.wikipedia.org/wiki/Jacare%C3%AD">Jacareí-SP</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-4 box-shadow cidades-single">
                        <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" src="../static/imagens//maracai.jpg" title="Origem da imagem: https://www.maracai.sp.gov.br/portal/0/galeria-de-fotos/3/maracai"/>
                        <div class="card-body">
                            <h4 style="padding-bottom:90px;margin-bottom: 0px;color:white;" class="text-center"><a target="_blank" 
                                href="https://pt.wikipedia.org/wiki/Maraca%C3%AD">Maracaí-SP</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" mb-4 box-shadow escolas-single">
                        <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225] "src="../static/imagens/assis.jpg" title="Origem da imagem: https://www.assis.sp.gov.br/noticia/421/prefeitura-divulga-programacao-do-aniversario-de-assis"/>
                        <div class="card-body">
                            <h4 style="padding-bottom:90px;margin-bottom: 0px;color:white;" class="text-center"><a target="_blank" 
                                href="https://pt.wikipedia.org/wiki/Assis_(S%C3%A3o_Paulo)">Assis-SP</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center" style="background-color:#2c3e50;padding:0px; margin:0px">
        <p style="margin:0px;padding-top:15px;padding-bottom:15px;color:white !important">Copyright 2018 - 2020
            Rodrigo de Andrade®
        </p>
    </footer>

</body>

</html>