{% extends 'base.html' %}

{% block title %}
<title>Sobre</title>
{% endblock %}

{% block conteudo%}
<section class="jumbotron text-center sobre-mim">
    <div class="container">
        <h2 class="jumbotron-heading sobre-pessoa pt-5">SOBRE A PESSOA</h2>
        <div class="row">
            <div class="col-md-6">
                <div class=" mb-4 box-shadow">
                    <p class="lead paragrafoBrancos">Rodrigo de Andrade Paula, {{idade}} anos, nascido em Jacareí-SP. Morei por 4 anos na Região de Assis -SP, sendo que 1 ano e meio na cidade de Maracaí-SP, e 2 anos e meio na cidade de Assis-SP.</p>
                    <p class="lead paragrafoBrancos">Sou formado em Tecnólogo em Geoprocessamento pela Faculdade de Tecnologia do Estado de São Paulo (FATEC de Jacareí SP - 2018), Técnico em Redes de Computadores pela Escola Técnica Cônego José Bento (ETEC de Jacareí SP - 2021), e atualmente estou cursando Desenvolvimento de Softwares Multiplataforma pela FATEC de São José dos Campos - Professor Jessen Vidal.</p>
                    <p class="lead paragrafoBrancos">Tenho experiência na área administrativa e manutenção elétrica (primeiro trabalho como aprendiz), telemarketing (atendimento receptivo e ativo), industrial, agrícola, manutenção predial, comércio (varejista e atacadista) , georreferenciamento, manutenção de computadores e de celulares e estou de iniciante na programação web Front-End.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" src="../static/imagens/Rodrigo de Andrade 01.jpg" data-holder-rendered="true"
                        style="height: 29%; width: 100%;max-width: 100%; display: block;">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="album py-5 bg-light">
    <div class="container">
        <h2 class="text-center jumbotron-heading cidades">Cidades onde morei</h2>
        <div class="row">
            <div class="col-md-4">
                <div class=" mb-4 box-shadow cidades-single">
                    <img class="card-img-top"
                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                    alt="Thumbnail [100%x225]" src="../static/imagens//jacarei.jpg" title="Origem da imagem: http://https://www.jacarei.sp.gov.br/cidade/conheca-jacarei/"/>
                    <div class="card-body">
                        <h4 style="padding-bottom:90px;margin-bottom: 0px;color:white;" class="text-center"><a target="_blank" 
                            href="https://pt.wikipedia.org/wiki/Jacare%C3%AD">Jacareí-SP</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-4 box-shadow cidades-single">
                    <img class="card-img-top"
                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                    alt="Thumbnail [100%x225]" src="../static/imagens//maracai.jpg" title="Origem da imagem: https://www.maracai.sp.gov.br/portal/0/galeria-de-fotos/3/maracai"/>
                    <div class="card-body">
                        <h4 style="padding-bottom:90px;margin-bottom: 0px;color:white;" class="text-center"><a target="_blank" 
                            href="https://pt.wikipedia.org/wiki/Maraca%C3%AD">Maracaí-SP</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" mb-4 box-shadow escolas-single">
                    <img class="card-img-top"
                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                    alt="Thumbnail [100%x225] "src="../static/imagens/assis.jpg" title="Origem da imagem: https://www.assis.sp.gov.br/noticia/421/prefeitura-divulga-programacao-do-aniversario-de-assis"/>
                    <div class="card-body">
                        <h4 style="padding-bottom:90px;margin-bottom: 0px;color:white;" class="text-center"><a target="_blank" 
                            href="https://pt.wikipedia.org/wiki/Assis_(S%C3%A3o_Paulo)">Assis-SP</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
