<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rodrigo de Andrade</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/css/icons-1.6.1/font/bootstrap-icons.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/css/trabalhos-academicos.css" media="screen">
    <link rel="icon" href="../static/imagens/Logotipo.png"> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script rel="stylesheet" src="../static/css/bootstrap/js/bootstrap.min.js" media="screen"></script>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light" style="background-color:#23232e">
        <a class="navbar-brand" href="index.html">
            <img src="../static/imagens/Logotipo.png" width="142">
        </a>
        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto me-3 mb-lg-0 text-center">
              <li class="nav-item">
                <a class="nav-item nav-link" href="index.html" style=color:white>Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" href="sobre.html" style=color:white>Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link btn-menu" href="trabalhos-academicos.html" style=color:white>Trabalhos Acadêmicos</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" href="projetos.html" style=color:white>Projetos</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <section class="jumbotron text-center trabalhos-academicos" id="sobre-mim">
        <div class="container">
            <h2 class="jumbotron-heading trabalho-um pt-5">ANÁLISE ESPAÇO TEMPORAL DE TURBIDEZ DA BACIA DO RIO PARAÍBA DO SUL DE 2013 a 2017</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class=" mb-4 box-shadow">
                        <p class="lead paragrafotrabalho-um">Trabalho acadêmico de graduação apresentado como atividade de conclusão do curso de Tecnólogo em Geoprocessamento, pela FATEC de Jacareí, cujo nesse trabalho acadêmico foi uma análise espaço temporal de turbidez da bacia do Rio Paraíba do Sul entre 2013 a 2017.</p>
                        <p class="lead paragrafotrabalho-um">O objetivo do trabalho de graduação é efetuar uma análise espaço temporal ocorridos neste determinado período, analisando o indicador turbidez para a qualidade da água da bacia, constatar se as variáveis levantadas atendem a qualidade das águas da bacia do rio Paraíba do Sul, conforme os critérios regidos pelas legislações e normas vigentes, examinar a variabilidade espacial da qualidade das águas mediante do Índice da Qualidade das Águas (IQA), e confrontar os dados levantados dos indicadores, em conformidade da qualidade das águas da bacia do rio Paraíba do Sul, empregando métodos diversificados de pesquisa.</p>
                        <p class="lead paragrafotrabalho-um">As ferramentas utilizadas pelo trabalho acadêmico foram feitos pelo software QGis. Com os dados adquiridos pela Cetesb, e com a interpolação das imagens para dos meses analisados dos anos de 2013 a 2017 mostra os valores atribuídos para análise na qual o padrão de referência da CONAMA (até 100 UNT).</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4 box-shadow">
                        <img class="card-img-top mb-4"
                            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                            alt="Thumbnail [100%x225]" src="../static/imagens/TG1.png" data-holder-rendered="true"
                            style="height: 29%; width: 100%;max-width: 100%; display: block;">
                        <img class="card-img-top mb-4"
                            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                            alt="Thumbnail [100%x225]" src="../static/imagens/TG2.png" data-holder-rendered="true"
                            style="height: 29%; width: 100%;max-width: 100%; display: block;">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="jumbotron text-center bg-light">
        <div class="container">
            <h2 class="jumbotron-heading trabalho-dois pt-5">IMPLEMENTAÇÃO DE TERMINAL REMOTO ATRAVÉS DE SERVIÇOS EM NUVEM</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class=" mb-4 box-shadow">
                        <p class="lead mb-4">Trabalho acadêmico apresentado como atividade de conclusão do curso de Tecno em Redes de Computadores, pela ETEC de Jacareí, cujo nesse trabalho acadêmico foi uma implementação de terminal remoto através de serviços em nuvem.</p>
                        <p class="lead mb-4">O objetivo do trabalho acadêmico foi implementar um servidor virtualizado em nuvem para disponibilizar uma área de trabalho com aplicativos, configurado com login e senha, através das ferramentas Microsoft Windows Server, a plataforma da Amazon Web Services (AWS), e o computador de placa, o Raspberry Pi 3</p>
                        <p class="lead mb-4">Com essa implementação, os recursos de virtualização foram utilizados pela linguagem de programação Java pelo software IDE Lazarus, e com as atribuições nas interfaces gráficas e com as colocações de recursos de aplicações na área de trabalho do usuário no seu Raspberry. Com os arquivos colocados, o Raspberry funciona como software, mas com a virtualização de nuvem privada, e os seus usuários são colocados para sua entrada através do Windows Server 2016, inteligados o seu banco de dados para AWS.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4 box-shadow">
                        <img class="card-img-top mb-4"
                            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                            alt="Thumbnail [100%x225]" src="../static/imagens/TCC1.png" data-holder-rendered="true"
                            style="height: 29%; width: 100%;max-width: 100%; display: block;">
                        <img class="card-img-top mb-4"
                            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                            alt="Thumbnail [100%x225]" src="../static/imagens/TCC2.png" data-holder-rendered="true"
                            style="height: 29%; width: 100%;max-width: 100%; display: block;">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center" style="background-color:#2c3e50;padding:0px; margin:0px">
        <p style="margin:0px;padding-top:15px;padding-bottom:15px;color:white !important">Copyright 2021 - 
            Rodrigo de Andrade®
        </p>
    </footer>

</body>

</html>