@charset "UTF-8";


.tituloprojeto {
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.paragrafoprojeto {
    color: white !important;
}


.jumbotron {
    margin-bottom: 0px;
}

html {
    scroll-behavior: smooth;
}

.projetos {
    background-color: #18bc9c;
}

