@charset "UTF-8";

.sobre-mim {
    background-color: #18bc9c;
}

.sobre-pessoa {
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.cidades {
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2c3e50
}

.cidades-single img{
    filter: grayscale(100%);
    transform: scale(1,1);
    transition: 1s;
}

.cidades-single img:hover{
    transform: scale(1.1,1.1);
    filter: grayscale(0);
}