@charset "UTF-8";

.trabalho-um {
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.trabalho-dois {
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2c3e50;
}

.paragrafotrabalho-um {
    color: white !important;
}


.jumbotron {
    margin-bottom: 0px;
}

html {
    scroll-behavior: smooth;
}

p {
    color: black !important;
}

.trabalhos-academicos {
    background-color: #18bc9c;
}